<a href="https://colab.research.google.com/github/Mateus402/MineracaoDeDados/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import gdown

In [ ]:
!gdown  1exmP2er4MvJ4yyaop3_yGhCYYmGb7s6A

Downloading...
From: https://drive.google.com/uc?id=1exmP2er4MvJ4yyaop3_yGhCYYmGb7s6A
To: /content/SuperMercados.xlsx
100% 97.5k/97.5k [00:00<00:00, 80.6MB/s]

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
df = pd.read_excel('SuperMercados.xlsx')

In [ ]:
df.head()

,Unnamed: 0,ID da fatura,Filial,Tipo de Cliente,Gênero,Linha de produto,Preço unitário,Quantidade,Total,Data,Tempo,Pagamento,COGS,porcentagem de margem bruta,renda bruta,Avaliação
0,0.0,750-67-8428,A,Member,F,Saúde e beleza,1120.35,7.0,7842.45,1/5/2019,13:08:00,PIX,4705.4700,4.761905e+09,261415.0,91.0
1,1.0,226-31-3081,C,Normal,F,Acessórios eletrônicos,229.20,5.0,1146.00,3/8/2019,10:29:00,Dinheiro,1031.4000,4.761905e+09,382.0,96.0
2,2.0,631-41-3108,A,Normal,M,Casa e estilo de vida,694.95,7.0,4864.65,3/3/2019,13:23:00,Cartão de Crédito,3405.2550,4.761905e+09,162155.0,74.0
3,3.0,123-19-1176,A,Member,M,Saúde e beleza,873.30,8.0,6986.40,1/27/2019,20:33:00,PIX,4191.8400,4.761905e+09,23288.0,84.0
4,4.0,373-73-7910,A,Normal,M,Esportes e viagens,1294.65,7.0,9062.55,2/8/2019,10:37:00,PIX,6796.9125,4.761905e+09,302085.0,53.0

In [ ]:
df.drop(columns=['Unnamed: 0']), inplace = True

In [ ]:
df

,ID da fatura,Filial,Tipo de Cliente,Gênero,Linha de produto,Preço unitário,Quantidade,Total,Data,Tempo,Pagamento,COGS,porcentagem de margem bruta,renda bruta,Avaliação
0,750-67-8428,A,Member,F,Saúde e beleza,1120.35,7.0,7842.45,1/5/2019,13:08:00,PIX,4705.4700,4.761905e+09,261415.0,91.0
1,226-31-3081,C,Normal,F,Acessórios eletrônicos,229.20,5.0,1146.00,3/8/2019,10:29:00,Dinheiro,1031.4000,4.761905e+09,382.0,96.0
2,631-41-3108,A,Normal,M,Casa e estilo de vida,694.95,7.0,4864.65,3/3/2019,13:23:00,Cartão de Crédito,3405.2550,4.761905e+09,162155.0,74.0
3,123-19-1176,A,Member,M,Saúde e beleza,873.30,8.0,6986.40,1/27/2019,20:33:00,PIX,4191.8400,4.761905e+09,23288.0,84.0
4,373-73-7910,A,Normal,M,Esportes e viagens,1294.65,7.0,9062.55,2/8/2019,10:37:00,PIX,6796.9125,4.761905e+09,302085.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Normal,M,Saúde e beleza,605.25,1.0,605.25,1/29/2019,13:46:00,PIX,363.1500,4.761905e+09,20175.0,62.0
996,303-96-2227,B,Normal,F,Casa e estilo de vida,1460.70,10.0,14607.00,3/2/2019,17:16:00,PIX,10224.9000,4.761905e+09,4869.0,44.0
997,727-02-1313,A,Member,M,Comida e bebidas,477.60,1.0,477.60,2/9/2019,13:22:00,Dinheiro,405.9600,4.761905e+09,1592.0,77.0
998,347-56-2442,A,Normal,M,Casa e estilo de vida,987.30,1.0,987.30,2/22/2019,15:33:00,Dinheiro,691.1100,4.761905e+09,3291.0,41.0
999,849-09-3807,A,Member,F,Acessórios fashions,1325.10,7.0,9275.70,2/18/2019,13:28:00,Dinheiro,6956.7750,4.761905e+09,30919.0,66.0

In [ ]:
df.drop(columns=['ID da fatura', 'renda bruta', 'porcentagem de margem bruta'], inplace = True)

In [ ]:
df

,Filial,Tipo de Cliente,Gênero,Linha de produto,Preço unitário,Quantidade,Total,Data,Tempo,Pagamento,COGS,Avaliação
0,A,Member,F,Saúde e beleza,1120.35,7.0,7842.45,1/5/2019,13:08:00,PIX,4705.4700,91.0
1,C,Normal,F,Acessórios eletrônicos,229.20,5.0,1146.00,3/8/2019,10:29:00,Dinheiro,1031.4000,96.0
2,A,Normal,M,Casa e estilo de vida,694.95,7.0,4864.65,3/3/2019,13:23:00,Cartão de Crédito,3405.2550,74.0
3,A,Member,M,Saúde e beleza,873.30,8.0,6986.40,1/27/2019,20:33:00,PIX,4191.8400,84.0
4,A,Normal,M,Esportes e viagens,1294.65,7.0,9062.55,2/8/2019,10:37:00,PIX,6796.9125,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Normal,M,Saúde e beleza,605.25,1.0,605.25,1/29/2019,13:46:00,PIX,363.1500,62.0
996,B,Normal,F,Casa e estilo de vida,1460.70,10.0,14607.00,3/2/2019,17:16:00,PIX,10224.9000,44.0
997,A,Member,M,Comida e bebidas,477.60,1.0,477.60,2/9/2019,13:22:00,Dinheiro,405.9600,77.0
998,A,Normal,M,Casa e estilo de vida,987.30,1.0,987.30,2/22/2019,15:33:00,Dinheiro,691.1100,41.0
999,A,Member,F,Acessórios fashions,1325.10,7.0,9275.70,2/18/2019,13:28:00,Dinheiro,6956.7750,66.0

In [ ]:
df.replace({'Tipo de Cliente' : {'Member' : 'Associado'}}, inplace = True)

In [ ]:
df.head()

,Filial,Tipo de Cliente,Gênero,Linha de produto,Preço unitário,Quantidade,Total,Data,Tempo,Pagamento,COGS,Avaliação
0,A,Associado,F,Saúde e beleza,1120.35,7.0,7842.45,1/5/2019,13:08:00,PIX,4705.4700,91.0
1,C,Normal,F,Acessórios eletrônicos,229.20,5.0,1146.00,3/8/2019,10:29:00,Dinheiro,1031.4000,96.0
2,A,Normal,M,Casa e estilo de vida,694.95,7.0,4864.65,3/3/2019,13:23:00,Cartão de Crédito,3405.2550,74.0
3,A,Associado,M,Saúde e beleza,873.30,8.0,6986.40,1/27/2019,20:33:00,PIX,4191.8400,84.0
4,A,Normal,M,Esportes e viagens,1294.65,7.0,9062.55,2/8/2019,10:37:00,PIX,6796.9125,53.0